<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360036864400-alj52jubbru69v6pt1c2miebvn5iega9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360036864400-alj52jubbru69v6pt1c2miebvn5iega9</string>
	<key>API_KEY</key>
	<string>AIzaSyBKu_lXq7H6Vp174rC_LzU5usz8wyW897Y</string>
	<key>GCM_SENDER_ID</key>
	<string>360036864400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anycar.knowAboutSurat</string>
	<key>PROJECT_ID</key>
	<string>knowaboutsurat-9b0cd</string>
	<key>STORAGE_BUCKET</key>
	<string>knowaboutsurat-9b0cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360036864400:ios:c56c8c3c5391163d51a315</string>
</dict>
</plist>